<!--
author: Boostraptheme
author URL: https://boostraptheme.com
License: Creative Commons Attribution 4.0 Unported
License URL: https://creativecommons.org/licenses/by/4.0/
-->

<!DOCTYPE html>
<html class="no-js" prefix="og: http://ogp.me/ns#"  lang="en-IN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Cricket 2018 News</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

        <meta name="description" content="We craft awesome Bootstrap themes for free and share selected resources for web designer &amp; developer. Download Free HTML themes for Bootstrap" /> 
        <link href="img/logo.png" rel="apple-touch-icon" sizes="96x96">
        <link href="img/logo.png" rel="icon" sizes="96x96" type="image/png">
        <link href="img/logo.png" rel="icon" sizes="32x32" type="image/png">
        <meta content="img/logo_icon_96dp.png" name="msapplication-TileImage">
        
        <meta property="og:url" content="https://www.boostraptheme.com/demo/index.html" />
        <meta property="og:title" content="Free Bootstrap Template" />
        <meta property="og:locale" content="en_IN" /> 
        <meta property="og:site_name" content="Boostraptheme" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="BoostrapTheme" />
        <meta name="twitter:creator" content="BoostrapTheme" />

        <link rel='stylesheet' href="font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/app.css">

    </head>

    <body>

        <!-- TOPNAVBAR 
            =================-->
            <div class="topmenu">
              <div class="container-fluid">
                <div class="row"  id="page-top">
                  <div class="col-md-6 col-sm-6"> 
                     <div class="info">Cricket 2018 <i class="fa fa-long-arrow-right"></i>  07	April - 27 May</div>
                  </div>   
                  <div class="col-md-6 sec col-sm-6">  
                  	<div class="social"> 
                  		<ul>
                  			<li>Social Corner </li>
                  			<li><a href="#"><i class="fa fa-facebook"></a></i></li>
                  			<li><a href="#"><i class="fa fa-twitter"></a></i></li>
                  			<li><a href="#"><i class="fa fa-google-plus"></a></i></li>
                  		</ul>
                  	</div> 
                  </div>
                </div>
              </div>
            </div>  
        
        <!-- NAVBAR 
            =================-->
            <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" data-toggle="affix">
              <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="index.html"><img src="img/logo.png" alt="" class="img-fluid"></a>
                <button class="navbar-toggler navbar-toggler-center  ml-auto py-3 my-1 " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                      <a class="nav-link active" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="score.html">Score</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="news.html">News</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="video.html">Video</a>
                    </li>  
                    <li class="nav-item">
                      <a class="nav-link" href="team.html">Teams</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="photo.html">Photo</a>
                    </li> 
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Language
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">বাংলা</a>
                        <!-- <a class="dropdown-item" href="#">தமிழ்</a>
                        <a class="dropdown-item" href="#">తెల్గు</a> -->
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="login.html">Login</a>
                    </li> 
                     <li class="nav-item">
                      <a class="nav-link" href="register.html">Register</a>
                    </li> 
                  </ul>
                </div>
              </div>
            </nav> 

        <!-- NEWS
            =================-->
            <section id="news" class="news">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">

                            <!-- LEFT NEWS 
                                =================-->
                            <div class="team">
                            	<div id="accordion">
								  <div class="card chennai">
								    <div class="card-header" id="headingOne">
								      <h5 class="mb-0 text-center">
								        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><img src="img/team-logo/chennai_super_kings_logo.png" alt="" class="img-fluid">
								          Chennai Super Kings <img src="img/team-logo/chennai_super_kings_logo.png" alt="" class="img-fluid">
								        </button>
								      </h5>
								    </div>

								    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								      <div class="card-body">
								        <div class="row">
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/dhoni.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">MS Dhoni</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/raina.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">S Raina</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/jadeja.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">R jadeja</h3>
							                        </div>
							                    </div>
							                </div> 
							            </div>
								      </div>
								    </div>
								  </div>
								  <div class="card delhi">
								    <div class="card-header" id="headingTwo">
								      <h5 class="mb-0 text-center">
								        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><img src="img/team-logo/delhi_daredevils_logo.png" alt="" class="img-fluid">  
								          Delhi Daredevils <img src="img/team-logo/delhi_daredevils_logo.png" alt="" class="img-fluid">
								        </button>
								      </h5>
								    </div>
								    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								      <div class="card-body">
								        <div class="row">
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/ghabhir.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">G Gambhir</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/shami.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">M Shami</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/morris.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">C Morris</h3>
							                        </div>
							                    </div>
							                </div> 
							            </div>
								      </div>
								    </div>
								  </div>
								  <div class="card punjab">
								    <div class="card-header" id="headingThree">
								      <h5 class="mb-0 text-center">
								        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><img src="img/team-logo/kings_XI_punjab_logo.png" alt="" class="img-fluid">
								          Kings XI Punjab <img src="img/team-logo/kings_XI_punjab_logo.png" alt="" class="img-fluid">
								        </button>
								      </h5>
								    </div>
								    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								      <div class="card-body">
								        <div class="row">
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/yuvaraj.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">Yuvaraj Singh</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/lokesh.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">L Rahul</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/gayle.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">C Gayle</h3>
							                        </div>
							                    </div>
							                </div> 
							            </div>
								      </div>
								    </div>
								  </div>
								  <div class="card kolkata">
								    <div class="card-header" id="headingFour">
								      <h5 class="mb-0 text-center">
								        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><img src="img/team-logo/kolkata_night_logo.png" alt="" class="img-fluid"> 
								          Kolkata Knight Riders <img src="img/team-logo/kolkata_night_logo.png" alt="" class="img-fluid">
								        </button>
								      </h5>
								    </div>
								    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
								      <div class="card-body">
								        <div class="row">
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/kkr-1.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">R Uthappa</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/kkr-2.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">C Lynn</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/kkr-3.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">S Narine</h3>
							                        </div>
							                    </div>
							                </div> 
							            </div>
								      </div>
								    </div>
								  </div>
								  <div class="card mumbai">
								    <div class="card-header" id="headingFive">
								      <h5 class="mb-0 text-center">
								        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><img src="img/team-logo/mumbai_indians_logo.png" alt="" class="img-fluid"> 
								          Mumbai Indians <img src="img/team-logo/mumbai_indians_logo.png" alt="" class="img-fluid">
								        </button>
								      </h5>
								    </div>
								    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
								      <div class="card-body">
								        <div class="row">
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/mi-1.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">H Pandya</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/rohit.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">R Sharma</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/bhurah.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">J Bhumrah</h3>
							                        </div>
							                    </div>
							                </div> 
							            </div>
								      </div>
								    </div>
								  </div>
								  <div class="card rajasthan">
								    <div class="card-header" id="headingSix">
								      <h5 class="mb-0 text-center">
								        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"><img src="img/team-logo/rajasthan_royals_logo.png" alt="" class="img-fluid"> 
								          Rajasthan Royals <img src="img/team-logo/rajasthan_royals_logo.png" alt="" class="img-fluid">
								        </button>
								      </h5>
								    </div>
								    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
								      <div class="card-body">
								        <div class="row">
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/royal-chalenger.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">S Binny</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/rr-rahane.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">A Rahane</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/rr-ben-stoc.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">B Stokes</h3>
							                        </div>
							                    </div>
							                </div> 
							            </div>
								      </div>
								    </div>
								  </div>
								  <div class="card bangalore">
								    <div class="card-header" id="headingSeven">
								      <h5 class="mb-0 text-center">
								        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"><img src="img/team-logo/royal_chalanger_logo.png" alt="" class="img-fluid"> 
								          Royal Challengers Bangalore <img src="img/team-logo/royal_chalanger_logo.png" alt="" class="img-fluid">
								        </button>
								      </h5>
								    </div>
								    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
								      <div class="card-body">
								        <div class="row">
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/rcb-1.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">P Negi</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/rcb-parthiv-patel.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">P Patel</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/kohali.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">V Kohali</h3>
							                        </div>
							                    </div>
							                </div> 
							            </div>
								      </div>
								    </div>
								  </div>
								  <div class="card hyderabad">
								    <div class="card-header" id="headingEight">
								      <h5 class="mb-0 text-center">
								        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"><img src="img/team-logo/sunriser_logo.png" alt="" class="img-fluid"> 
								          Sunrisers Hyderabad <img src="img/team-logo/sunriser_logo.png" alt="" class="img-fluid">
								        </button>
								      </h5>
								    </div>
								    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
								      <div class="card-body">
								        <div class="row">
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/dhavan-sunriser.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">S Dhawan</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/sunriser-1.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">B Kumar</h3>
							                        </div>
							                    </div>
							                </div>
							                <div class="col-md-4 col-sm-6">
							                    <div class="our-team">
							                        <div class="pic">
							                            <img src="img/team/sunriser-2.jpg">
							                            <ul class="social-links">
							                                <li><a href="#" class="fa fa-twitter"></a></li>
							                                <li><a href="#" class="fa fa-google-plus"></a></li>
							                                <li><a href="#" class="fa fa-facebook"></a></li>
							                            </ul>
							                        </div>
							                        <div class="team-content">
							                            <h3 class="title">D Warner</h3>
							                        </div>
							                    </div>
							                </div> 
							            </div>
								      </div>
								    </div>
								  </div>
								</div>
                            </div> 
                        </div>
                        <div class="col-md-3">
                            <!-- RIGHT NEWS 
                                =================-->
                            <div class="right-news">
                                <div class="live-score">
                                    <div class="card text-center">
                                      <div class="card-header">
                                        Live Score
                                      </div>
                                      <div class="card-body"> 
                                        <ul>
                                            <li><img src="img/team-logo/mumbai_indians_logo.png" alt="" class="img-fluid"><p>163/07 20ov.</p></li>
                                            <li>vs</li>
                                            <li><img src="img/team-logo/chennai_super_kings_logo.png" alt="" class="img-fluid"><p>123/05 14.02ov.</p></li>
                                        </ul> 
                                      </div>
                                      <div class="card-footer text-muted">
                                        07 April 2018
                                      </div>
                                    </div>
                                    <div class="card text-center mt-3">
                                      <div class="card-header">
                                        Live Score
                                      </div>
                                      <div class="card-body"> 
                                        <ul>
                                            <li><img src="img/team-logo/delhi_daredevils_logo.png" alt="" class="img-fluid"><p>163/07 20ov.</p></li>
                                            <li>vs</li>
                                            <li><img src="img/team-logo/kings_XI_punjab_logo.png" alt="" class="img-fluid"><p>123/05 14.02ov.</p></li>
                                        </ul> 
                                      </div>
                                      <div class="card-footer text-muted">
                                        08 April 2018
                                      </div>
                                    </div>
                                </div> 
                                <div class="team-point">
                                    <div class="card text-center mt-3">
                                      <div class="card-header">
                                        Team Points
                                      </div>
                                      <div class="card-body">
                                      <table class="table table-hover">
                                        <thead  class="thead-light">
                                          <tr>
                                            <th>Top</th>
                                            <th>Team</th>
                                            <th>Pts</th>
                                            <th>RR</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>1</td>
                                            <td><img src="img/team-logo/chennai_super_kings_logo.png" alt="" class="img-fluid"> <b>CSK</b></td>
                                            <td>13</td>
                                            <td>+0.832</td>
                                          </tr> 
                                          <tr>
                                            <td>2</td>
                                            <td><img src="img/team-logo/mumbai_indians_logo.png" alt="" class="img-fluid"> <b>MI</b></td>
                                            <td>13</td>
                                            <td>+0.832</td>
                                          </tr> 
                                          <tr>
                                            <td>3</td>
                                            <td><img src="img/team-logo/kolkata_night_logo.png" alt="" class="img-fluid"> <b>KKR</b></td>
                                            <td>13</td>
                                            <td>+0.832</td>
                                          </tr> 
                                          <tr>
                                            <td>4</td>
                                            <td><img src="img/team-logo/sunriser_logo.png" alt="" class="img-fluid"> <b>SRH</b></td>
                                            <td>13</td>
                                            <td>+0.832</td>
                                          </tr> 
                                          <tr>
                                            <td>5</td>
                                            <td><img src="img/team-logo/kings_XI_punjab_logo.png" alt="" class="img-fluid"> <b>KXIP</b></td>
                                            <td>13</td>
                                            <td>+0.832</td>
                                          </tr> 
                                          <tr>
                                            <td>6</td>
                                            <td><img src="img/team-logo/delhi_daredevils_logo.png" alt="" class="img-fluid"> <b>DD</b></td>
                                            <td>13</td>
                                            <td>+0.832</td>
                                          </tr>
                                          <tr>
                                            <td>7</td>
                                            <td><img src="img/team-logo/royal_chalanger_logo.png" alt="" class="img-fluid"> <b>RCB</b></td>
                                            <td>13</td>
                                            <td>+0.832</td>
                                          </tr>
                                          <tr>
                                            <td>8</td>
                                            <td><img src="img/team-logo/rajasthan_royals_logo.png" alt="" class="img-fluid"> <b>RR</b></td>
                                            <td>13</td>
                                            <td>+0.832</td>
                                          </tr> 
                                        </tbody>
                                      </table> 
                                      </div> 
                                    </div>
                                </div>
                                <div class="latest-news"> 
                                    <div class="card text-center mt-3">
                                      <div class="card-header">
                                        Latest News
                                      </div>
                                      <div class="card-body">
                                        <div class="latest-news-cont pb-1">
                                            <img src="img/news/news-10.jpg" alt="" class="img-fluid">
                                            <a href="news-desc.html">
                                                <h5>Fitness remains his priority, Samson has also changed</h5>
                                            </a>
                                        </div>
                                        <hr>
                                        <div class="latest-news-cont pb-1">
                                            <img src="img/news/news-9.jpg" alt="" class="img-fluid">
                                            <a href="news-desc.html">
                                                <h5>Kings XI Punjab pooled in Rs 5.50 crore for little-known Australian</h5>
                                            </a>
                                        </div>
                                        <hr>
                                        <div class="latest-news-cont pb-1">
                                            <img src="img/news/news-8.jpg" alt="" class="img-fluid">
                                            <a href="news-desc.html">
                                                <h5>Tens of thousands of people turned out on the streets of Kolkata</h5>
                                            </a>
                                        </div>
                                        <hr>
                                        <div class="latest-news-cont pb-1">
                                            <img src="img/news/news-7.jpg" alt="" class="img-fluid">
                                            <a href="news-desc.html">
                                                <h5>Their performance against Royal Challengers Bangalore</h5>
                                            </a>
                                        </div>
                                        <hr>
                                        <div class="latest-news-cont pb-4">
                                            <img src="img/news/news-1.jpg" alt="" class="img-fluid">
                                            <a href="news-desc.html">
                                                <h5>IPL 2017: Karun Nair stars as Daredevils beat Sunrisers</h5>
                                            </a>
                                        </div>
                                      </div> 
                                    </div>
                                </div> 
                                <div class="top-player"> 
                                    <div class="card text-center mt-3">
                                      <div class="card-header">
                                        IPL-2017 Top Player
                                      </div>
                                      <div class="card-body"> 
                                        <div class="col-md-12">
                                          <div class="run top-head">
                                            <p>Runs</p>
                                            <p>David Warner</p>
                                            <p>600</p>
                                          </div>
                                        </div>
                                        <div class="col-md-12">
                                          <div class="top-head">
                                            <p>Wickets</p>
                                            <p>Bhuvneshwar</p>
                                            <p>26</p>
                                          </div>
                                        </div>
                                        <div class="col-md-12">
                                          <div class="top-head">
                                            <p>Sixes</p>
                                            <p>Rishabh Pant</p>
                                            <p>9</p>
                                          </div>
                                        </div> 
                                      </div> 
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </section>
 
        <!-- FOOTER 
            =================-->
             <footer class="footer">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <div class="team">
                      <h5>Teams</h5>
                                <div class="border-bot"></div>
                      <ul>
                        <li><a href="team.html">Chennai Super Kings</a></li>
                        <li><a href="team.html">Delhi Daredevils</a></li>
                        <li><a href="team.html">Kings XI Punjab</a></li>
                        <li><a href="team.html">Kolkata Knight Riders</a></li>
                        <li><a href="team.html">Mumbai Indians</a></li>
                        <li><a href="team.html">Rajasthan Royals</a></li>
                        <li><a href="team.html">Royal Challengers Bangalore</a></li>
                        <li><a href="team.html">Sunrisers Hyderabad</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="team">
                      <h5>Useful Links</h5>
                      <div class="border-bot"></div>
                                <ul>
                        <li><a href="news.html">News</a></li>
                        <li><a href="score.html">Score</a></li>
                        <li><a href="video.html">Video</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="photo.html">Photo</a></li>
                        <li><a href="video.html">Live TV</a></li>
                        <li><a href="#">Stats</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="trend">
                      <h5>Today Trend</h5>
                      <div class="border-bot"></div>
                        <ul>
                          <li><a href="news-desc.html">Cricket Auction 2018</a></li>
                          <li><a href="news-desc.html">Cricket highest paid player 2018</a></li>
                          <li><a href="news-desc.html">The Washington Sundar story</a></li>
                          <li><a href="news-desc.html">Vivo's Rs 2,199 cr investment </a></li>
                          <li><a href="news-desc.html">Krunal Pandya interview</a></li>
                          <li><a href="news-desc.html">Krunal Pandya interview</a></li>
                        </ul>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="company-desc text-center">
                      <a href="index.html"><img src="img/logo.png" alt="" class="img-fluid"></a>
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid footer-b text-center">
                    <small>Copyrights &copy; 2018 Design by <a href="#">Cricket.com</a></small>
                </div>
            </footer>

        <script src="js/jquery.min.js"></script> 
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/app.js"></script> 
    </body>
</html>